<p>Need to get a hold of us? We're pretty easy to talk to and can help with most any firearm or tactical questions you may have.</p>

<div class="inner">
	<div class="cn-block">
		<h3>Contact us by E-Mail:</h3>
		<p>{{block type="core/template" name="contactForm" form_action="/contacts/index/post" template="contacts/form.phtml"}}</p>
	</div>
	<div class="cn-block float_right">
		<h3>Contact us by Phone:</h3>
		<p>{{config path="general/store_information/phone"}}</p>
	</div>
</div>

<p style="display: inline-block;">WSM Tactical is located in <a href="http://www.cityoflewisville.com/" target="_blank">Lewisville, TX</a>, a suburb of Dallas, TX. The WSM Tactical store is situated a few minutes off of I-35 highway and a short 10 minute drive north of DFW Aiport. To get directions to our DFW gun store, please see the Google Map below;</p>

<div class="gmaps-large">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3343.757740224506!2d-97.00373458395322!3d33.06284427666183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c31fe07408945%3A0xab73a68cd4e9abe8!2sWSM+Tactical+LLC!5e0!3m2!1sen!2sus!4v1461098423573" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="cn-block gmaps-small">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3343.757740224506!2d-97.00373458395322!3d33.06284427666183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c31fe07408945%3A0xab73a68cd4e9abe8!2sWSM+Tactical+LLC!5e0!3m2!1sen!2sus!4v1461104197112" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>