<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_InvisibleCaptcha
 */
?>
<?php if (Mage::getStoreConfig('aminvisiblecaptcha/general/enabledCaptcha')) { ?>
    <script type="text/javascript">
        var validationForInvisibleCaptchaForm;
        var formToProtectOnPage;

        formsToProtect = <?php echo json_encode(Mage::helper('aminvisiblecaptcha')->getCaptchaSelectors()) ?>;
        formsToProtect.forEach(function (item) {
            formToProtect = $$(item)[0];
            if (formToProtect) {
                if (!window.formsToProtectOnPage || window.formsToProtectOnPage.constructor !== Array) {
                    window.formsToProtectOnPage = Array();
                }
                window.formsToProtectOnPage.push(formToProtect);
                return;
            }
        });
        if (window.formsToProtectOnPage) {
            var recaptchaScript = document.createElement('script');
            recaptchaScript.src = 'https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit';
            recaptchaScript.attributes = 'async defer';
            document.body.appendChild(recaptchaScript);
        }
        // });

        var onSubmit = function (formId, token) {
            if (window.validationForInvisibleCaptchaForm[formId].validator.validate()) {
                document.getElementById('amasty_invisible_token_' + formId).setAttribute('value', token);
                document.getElementById('amasty_invisible_token_' + formId).form.submit();
            } else {
                grecaptcha.reset();
            }
        };

        var onloadCallback = function () {
            window.formsToProtectOnPage.forEach(function (formToProtect) {
                var formId = formToProtect.id;

                formToProtect.innerHTML +=
                    '<input type="hidden" id="amasty_invisible_token_' + formId + '" name="amasty_invisible_token" value=""/>';
                var validationForm = new VarienForm(formToProtect.id, false);
                //var id = "<?php //echo $this->getData('id'); ?>//";
                if (!window.validationForInvisibleCaptchaForm || window.validationForInvisibleCaptchaForm.constructor !== Array) {
                    window.validationForInvisibleCaptchaForm = Array();
                }
                window.validationForInvisibleCaptchaForm[formId] = validationForm;
                if (!window.callBacks || window.callBacks.constructor !== Array) {
                    window.callBacks = Array();
                }
                window.callBacks[formId] = function (token) {
                    onSubmit(formId, token);
                };
                // if (!id) {
                //     id = document.getElementById('amasty_invisible_token').form.querySelector("[type='submit']");
                // }
                grecaptcha.render(formToProtect.querySelector("[type='submit']"), {
                    'sitekey': '<?php echo Mage::getStoreConfig('aminvisiblecaptcha/general/captchaKey') ?>',
                    'callback': window.callBacks[formId]
                });

            });
        };


    </script>
<?php } ?>
